<!-- your html code here -->

<div class="container-sm bg-dark text-light">
        <form  action="">
                <div class="row mb-4">
                        <label for="contactemail" class="col-sm-2 col-form-label">Your email:</label> 
                        <div class="col-sm-10">
                                <input type="email" id="contactemail" class="form-control"  required placeholder="your email here">
                        </div>
                        <label for="contactmessage" class="col-sm-2 col-form-label">Your message:</label> 
                        <div class="col-sm">
                                <textarea class="col-sm-10 col-form-label" placeholder="Leave a comment here" id="contactmessage"></textarea>
                        </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button">Submit</button>
                </div>
        </form>
</div>
